<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Pets Demo</display-name>
  <description>Pets application</description>
  <servlet>
    <servlet-name>Dog</servlet-name>
    <servlet-class>com.codingdojo.web.controllers.Dog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dog</servlet-name>
    <url-pattern>/dog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cat</servlet-name>
    <servlet-class>com.codingdojo.web.controllers.Cat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cat</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>  
</web-app>